header {
    background-color: rgba(5, 224, 224, 0.788);
}
body {
    background-color: white;
    background-image: url("https://aacgriet.com/img/icons/logo.png");
   background-repeat: no-repeat;
   background-size: 700px;

  background-attachment: fixed;
  background-position: center center; 
}
section {
    background-color: rgb(245, 241, 237);
}
.navigation {
    font-size: larger;
position: right;
    padding: 0;
  border: 1px solid #4CAF50;
  text-align: right;
  text-indent: 0fr;
  background-color: rgba(0, 0, 0, 0.699);}
  li {
    float: right;
    font-family: "Montserrat";
 

}